:6767 {
    handle /api/user/* {
        reverse_proxy user:80
    }

    handle /bkk* {
      reverse_proxy bkk:80
    }

    handle /ppdb* {
      reverse_proxy ppdb:80
    }

    handle {
      reverse_proxy ppdb:80
    }
}
